:root {
  --primary-color: #3498db; /* Azul */
  --secondary-color: #2ecc71; /* Verde */
  --accent-color: #e74c3c; /* Rojo */
  --neutral-color: #ecf0f1; /* Gris Claro */
  --dark-color: #2c3e50; /* Gris Oscuro */
}
